<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DBACTIVECON" connectionString="server=localhost;user id=agostin;password=silverroad@387;database=ufs"/>
  </connectionStrings>
</configuration>